* {margin: 0; padding: 0;box-sizing:border-box;
}

/* ROOT AND VAR */

:root {
  
  --color-body-gray: rgb(248, 248, 248);
  --color-light-gray: rgb(230, 230, 230);
  --color-med-gray: rgb(128, 128, 128);
  --color-black-gray: rgba(46, 46, 46, 0.881);
  --color-aquagreen: #72cbbc;
  --color-blue: #4285F4;
  --color-orange: #ffc038;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--color-body-gray);
}

/* ---------TEXT------------ */

.title {
  font-size: 1.7rem;
  color: var(--color-med-gray);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.title span {
  margin-right: .15em;
}

.title-img {
  width: 100%;
  max-width: 45px;
  max-height: 45px;
  display: flex;
  align-items: center;
  margin-right: .5em;
  margin-bottom: .3em;
}

.title-img img {
  width: 100%;
}

.text-accent {
  color: var(--color-black-gray);
  font-weight: bold;
}

/*----------LAYOUT-----------*/

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: 1px solid lightgray;
  background-color: white;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 90vh;
}

.container {
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*----------HEADER-------------*/
header a {
  text-decoration: none;
}

.right-top {
  display: flex ;
  justify-content: space-between;
  align-items: center;
}

.right-top a {
  font-weight: bold;
  color: var(--color-black-gray);
  padding-inline: 1.5em;
}

.right-top svg {
  width: 100%;
  max-width: 25px;
}

/*-------MID-TOP NAVBAR-----------*/

.mid-top {
  margin-left: 10em;
}

.midtop a {
  font-weight: bold;
  color: var(--color-black-gray);
  padding-inline: 1.5em;
}

/*----------------------------MAIN-PART-------------------------- */

.main-part {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* --------left-side------ */

.wrapper {
  display: flex;
  background-color: white;
  margin-bottom: 2em;
  /* justify-content: center; */
  align-items: center;
  border-radius: 1em;
  padding: 2em;
}

.left-side {
  margin-right: 2em;
}

.class-select-container {
  margin-inline: 2em;
  padding-right: 2em;
}

.class-select-container {
  color: var(--color-black-gray);
}

.level-indicatior-circle {
  display: inline;
  /* width: 100%; */
  max-width: 12px;
  max-height: 12px;
  background-color: var(--color-aquagreen);
  color: transparent;
  border-radius: 50%;
  margin-right: .2em;
}

.select-level  {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2.6em;
  position: relative;
  align-items: center;
}

.select-level::after {
  content: "";
  width: .5px;
  position: absolute;
  right: 1em;
  border: 1px solid var(--color-black-gray);
  /* border-width: 0 3px 3px 0; */
  padding: .2em;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  transform:rotate(45deg);
}

.select-level select {
  cursor: pointer;
  appearance: none;
  font-weight: bold;
  font-size: .95rem;
  color: var(--color-med-gray);
  width: 90px;
  padding-block: .4em;
  padding-left: .4em;
  padding-right: .8em;
  margin-left: .4em;
  border: none;
}

.select-level select:focus {
  border: 1px solid var(--color-aquagreen);
}

.cost {
  margin-top: 2em;
  font-size: 1.5rem;
}
/*-------right-side----- */

.right-side {
  border: 1px solid var(--color-light-gray);
  border-radius: 1em;
  padding: 2em;
  width: 40%;
}
.promo-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-gray);
  padding-bottom: 1em;
}

.promo-row svg {
  max-width: 35px;
}

.promo-cost {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
}

.promo-cost p {
  font-weight: bold;
  color: rgba(104, 103, 103, 0.827);
}

.promo-cost-span {
  font-weight: bold;
  color: var(--color-med-gray);
}

.promo-row input {
  border: 1px solid var(--color-light-gray);
  border-radius: .2em;
  background-color: var(--color-body-gray);
  color: var(--color-light-gray);
  padding: 1em;
  padding-right: 3em;
}

.promo-row button {
  color: var(--color-aquagreen);
  padding: 1em;
  padding-inline: 3.3em;
  border-radius: 1em;
  background-color: white;
  border: 2px solid var(--color-aquagreen);
  cursor: pointer;
  margin-inline: .5em;
}


.right-side h3 {
  margin-bottom: 1.5em;
}

.payment-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5em;
}


.payment-cost span {
  font-size: 2rem;
  color: var(--color-aquagreen);
  font-weight: bold;
}

.login-button {
  font-weight: bold;
  padding-block: .8em;
  width: 100%;
  color: black;
  background-color: var(--color-aquagreen);
  text-align: center;
  border: none;
  border-radius: 1.4em;
  margin-top: 1.5em;
}

/* ---------ICON-------------- */

.trash-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--color-aquagreen);
  border-radius: 50%;
  margin-right: 2.5em;
}

.wrapper svg {
  width: 100%;
  max-width: 25px; 
}

.icon svg {
  max-width: 25px;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: .6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 200px;
  height: 200px;
  background-color: var(--color-blue);
  border-radius: 1.5em;
  padding-block: 1.4rem ;
  padding-inline: 1em;
}

.background h3 {
  color: white;
}

.background p {
  color: white;
}

.google-slides {
  background-color: var(--color-orange);
}

.cost {
  color: rgb(65, 65, 65);
  margin-top: 1em;
}